<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Chemistry Calculator</title>
    </head>
    <body>
        <h2>Calculate equation</h2>
        <form action="equation" method="post">
            <label for="action">Action:</label>
            <select name="action">
                <option value="predict">Predict</option>
                <option value="balance">Balance</option>
            </select>
            <br>
            <input type="text" name="molecule1" placeholder="Na(OH)" required>
            +
            <input type="text" name="molecule2" placeholder="HCl" required>
            <br>
            <br>
            <input type="submit" value="Calculate!" id="equation">
            
        </form>
        
        <br>
        <hr>
        <h2>Molecule property</h2>
        <form action="property" method="post">
            <label for="action">Determin:</label>
            <select name="action">
                <option value="mass">Mass</option>
                <option value="solubility">Solubility</option>
                <option value="bond">Bond</option>
            </select>
            <br>
            <input type="text" name="molecule" placeholder="Molecule" required>
            <br>
            <br>
            <input type="submit" value="Reveal!" id="property">
        </form>

        <br>
        <h3>Result</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        {% endwith %}
    </body>
</html>